{% extends 'contactos/base.html' %}
{% block title %}
  Editar Contacto
{% endblock %}
{% block content %}
  <div class="max-w-2xl mx-auto">
    <div class="bg-white mb-4 p-6 rounded-lg border border-gray-200">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Editar Contacto</h1>
      <p class="text-sm text-gray-600">Complete el formulario para editar el contacto (Los campos en rojo son obligatorios).</p>
    </div>
    <form method="post" class="bg-white p-8 rounded-lg shadow-lg border border-gray-200">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="flex items-center justify-end space-x-4 pt-6 border-t border-gray-200">
        <a href="{% url 'lista_contactos' %}" class="inline-flex items-center px-6 py-3 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">Cancelar</a>
        <button type="submit" class="hover:scale-105 transition-all ease-in inline-flex items-center px-6 py-3 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700">Actualizar Contacto</button>
      </div>
    </form>
  </div>
{% endblock %}